.headerOuter {
  display: flex;
  align-items: center;
  position: sticky;
  height: 120px;
  top: -50px;
  border-bottom: solid #e4e4e4 1px;
  background: #fff;
  z-index: 4;

  .headerInner {
    display: flex;
    height: 70px;
    width: 80%;
    margin: 0 auto;
    position: sticky;
    top: 0;

    .headerLogo {
      margin-right: auto;
      height: 70px;

      h1 {
        font-weight: 800;
        height: 70px;
        line-height: 70px;
      }
    }

    nav {
      ul {
        width: 100%;
        display: flex;
        height: 70px;

        li {
          line-height: 70px;
          margin-left: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .headerOuter {
    height: 100px;
    top: 0;

    .headerInner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 80%;
      margin: 0 auto;
      position: sticky;
      top: 0;

      .headerLogo {
        margin-right: 0;
        height: 55px;

        h1 {
          font-weight: 300;
          height: 70px;
          line-height: 70px;
        }
      }
    }
  }
}
